.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
}
.logo{
    color: black;
    font-size: 1,5rem;

}
.menu{
    display: none;
    flex-direction: column;
}
