.container{
    display: flex;
    height: 600px;
    width: 1000px;
    background : pink;
    border: 1px solid black;
    text-align: center;
    flex-wrap: wrap;
    /* justify-content: center;
    justify-content: space-between;
    align-items: center; */
    gap: 5px;
    align-items: center;
    align-content: center;

}
.item{
    height: 100px;
    width: 200px;
    border: 1px solid black;
    background-color: brown;
    text-align: center;
    align-content: center;
    flex-grow: 1;

}
.item2{
    order: -1;
}
    
    
    