.container{
    display: grid;
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(3,100px);
    /* grid-template-areas: "header header header header" "main main . sidebar" 
    "footer footer footer footer"; */
    column-gap: 10px;
    /* justify-items: center;
    align-items: center; */
    place-items:center ;
    /* align-content: center;
    justify-content: center; */
    place-content: center;
    gap: 15px;

}
.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    color: white;

    
    
}
  /* .item1{
    grid-area: header;
    justify-self: start-end-centre-stretch;
    ( for row wise ...... same align self for column wise 
    , vertical)
     
}*/      
/*
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;

}
.item4{
    grid-area: footer;
} */