@media(max-width:768px)
{
.item1{
background-color: black;
/* color: white;
justify-content: center;
justify-items: center; */
}
}


.item1{

    align-content: center;
    justify-content: center;
    justify-items: center;
    color: yellow;
    background: aqua;
}