/* @media(condition){
CSS styling

} */

/* 320px - small phones
480px-large phones
768px-tablets
1024px-small laptops
1200px-desktop */
@media(min-width:768px){
.item{
    font-size: 50px;
}
.box{
    width: 100%;
    height: 100%;
    background: aqua;
    border: 2px solid black;
}
}
li{
    list-style: none;
    text-decoration: none;
}
nav ul{
    display: flex;
    justify-content: space-around;
}